conda.enabled = true
docker.enabled = true
report.enabled = true
report.overwrite = true

plugins {
    id 'nf-quilt'
}

params {
    manifest {
        name = "HCA"
        description = "This pipeline analyzes hybridization capture sequencing data for both on-and-off target recombination events, and outputs key information"
        author = "Thomas Biondi (thomas.biondi@tome.bio)"
        version = "1.0.0"
    }

    samplesheet = './input/samplesheet.csv' 
    reference = './input/reference/hg38_no_alts.fa'
    outdir = './output' 
    deduplication_method = 'LOOSE'
    collapse_condition = 'Cargo'
    ATTP_REG = 'GTGGTTTGTCTGGTCAACCACCGCGGT'
    ATTP_PRIME = 'CTCAGTGGTGTACGGTACAAACCCA'
    project_name = 'CM_HC_TB000200e_20231017'
    initial_mapper = 'bwa'
    reference_index_location = './input/reference/'
}
